.books-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart{
    background-color: burlywood;
    color: #ffff;
    margin-top: 40px;
}

@media screen and (max-width:100px){
    .books-container{
        grid-template-columns: repeat(2 , 1fr);
    }
}