.books-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart{
    
    margin-top: 40px;
}

.showbooks-container{
  
}
@media screen and (max-width:100px){
    .books-container{
        grid-template-columns: repeat(2 , 1fr);
    }
}